<div class="container p-4">
  <div class="row justify-content-center">
    <h1>Editar estudiante</h1>
  </div>
  
  <div class="row justify-content-center mt-4">
    <div class="col-md-4">
      <form action="/estudiantes/editar/{{idestudiante}}" method="POST">
        <div class="form-group">
          <input type="text" class="form-control" name="nombre" value="{{nombre}}" placeholder="Nombre del estudiante" required autofocus />
        </div>
        
        <div class="form-group">
          <input type="text" class="form-control" name="apellido" value="{{apellido}}" placeholder="Apellido del estudiante" required />
        </div>
        
        <div class="form-group">
          <input type="email" class="form-control" name="email" value="{{email}}" placeholder="Correo del estudiante" required />
        </div>
        
        <div class="form-group">
          <select class="form-control" name="idcarrera" required>
            <option value="">Seleccione una opción</option>
            <option value="I01" {{#ifCond idcarrera "I01"}}selected{{/ifCond}}>I01</option>
            <option value="I02" {{#ifCond idcarrera "I02"}}selected{{/ifCond}}>I02</option>
            <option value="I03" {{#ifCond idcarrera "I03"}}selected{{/ifCond}}>I03</option>
            <option value="I04" {{#ifCond idcarrera "I04"}}selected{{/ifCond}}>I04</option>
          </select>
        </div>
        
        <div class="form-group">
          <input type="text" class="form-control" name="usuario" value="{{usuario}}" placeholder="Usuario del estudiante" required />
        </div>
        
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Actualizar</button>
        </div>
      </form>
    </div>
  </div>
</div>
